[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyparsing = "*"
pytz = "*"
requests = "*"
six = "*"
snowballstemmer = "*"
sphinxcontrib-websupport = "*"
"urllib3" = "*"
"Jinja2" = "*"
MarkupSafe = "*"
Pygments = "*"
Sphinx = "*"
django = ">=2.1.6"
django-extensions = "*"
graphviz = "*"

[dev-packages]

[requires]
python_version = "3.6"
